.DS_Store

# Ignore downloaded datasets
10_embeddings/data/
10_embeddings/text8.zip
10_embeddings/checkpoints
face_generation/data/

.ipynb_checkpoints/

__pycache__/
*.py[cod]
*.p
*.pkl 
*.pickle

*.zip

*/.floyd*

